{% extends "admin/layout.njk" %}


{% block title %}
    <title>Foodfy - Receita</title>
{% endblock title %}

{% block content %}

<div class="container">
        <div class="receita-principal">
            <img src="{{receitas.image}}" alt="{{ receitas.title }}">
            <div class="header-principal">
                <h2>{{ receitas.title }}</h2>
                <p> por {{receitas.name}}</p>
            </div>
        </div>
        
    <main>
        <section class="receita-info">
            <div class="receita-header">
                <h2>Ingredientes</h2>
                <a class="show-and-hide">Esconder</a>
            </div>
            <ul class="receita-information visible">
            {% for ingrediente in receitas.ingredientes %}
                <li>{{ ingrediente }}</li>
            {% endfor %}
            </ul>
        </section>
        
        <section class="receita-info">
            <div class="receita-header">
                <h2>Modo de preparo</h2>
                <a class="show-and-hide">Esconder</a>
            </div>
            <ul class="receita-information visible">
            {% for steps in receitas.modo_preparo %}
                <li>{{ steps }}</li>
            {% endfor %}
            </ul>                
        </section>

        <section class="receita-info">
            <div class="receita-header">
                <h2>Informações adicionais</h2>
                <a class="show-and-hide">Esconder</a>
            </div>
            <p class="receita-information visible">{{ receitas.adicionais }}</p>
        </section>  
    <main>    
</div>

<script src="/scripts/script.js"></script>
{% endblock content %}

