<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

{% block title %}
    <title>Foodly</title>
{% endblock title %}


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    
    {% block styles %}
        <link rel="stylesheet" href="styles/style.css">
    {% endblock styles %}
    
    

</head>
<body>

    <div id="pageHome">
    <header>
        <div id="logo">
         <a href="/"><img src="/assets/logo.png" alt="Foodly"></a>   
        </div>

        <div id="menu">
            <a href="sobre">Sobre</a>
            <a href="receitas">Receitas</a>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    </div>
    
    <footer class="footer">
        <p>Receitas Foodly - Todos os direitos reservados &copy</p>
    </footer>
    

{% block scripts %}
{% endblock scripts %}    

</body>
</html>