{% extends "layout.njk" %}

{% block title %}
    <title>Foodly</title>
{% endblock title %}

{% block content %}
     <main>

        <div class="content1">
            <div class="textContent1">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por 
            profissionais do mundo inteiro.</p>

            </div>

            <div class="imageContent1">
                <img src="assets/chef.png" alt="chef">
            </div>

        
            
        </div>

        <h3>Mais acessadas</h3>    

        <div class="content2">
           
            {% for receita in data %}
                <div class="receitas" id="{{receita.image}}" name= "{{receita.title}}">
                    <img src="{{receita.image}}" alt="{{receita.title}}">
                    <h2>{{receita.title}}</h2>
                    <p>por {{receita.author}}</p>
                </div>
            {% endfor %}
        
        </div>

    </main>
{% endblock content %}