
{% extends "./layout.njk" %}

{% block title %}
     <title>Sobre o Foodfy</title>
{% endblock title %}

{% block id %}
    <body id="pagina-sobre">  
{% endblock id %}
   
{% block content %}
    <main>
        <div class="comum">
            <h1>Sobre o Foodfy</h1>
            <p>
                O Foodfy começou a ser pensado em 2019. Nós entendemos que havia uma necessidade de modernização nos sites atuais de culinária. Percebemos que poderiam haver melhorias nos layouts de visualização, que sua exibição poderia ser mais simplificada e bem estruturada.
                E resolvemos tirar essa ideia do papel em 2020, criando esse site para todos os adoradores da arte da culinária das mais diversas culturas.
            </p>
            <p>
                Pensando nisso, oferecemos esse presente para vocês.
            </p>

            <p>
                Queremos mostrar com a Foodfy, que a comida é mais que nosso alimento, ela é uma demonstração de carinho e amor que pode ser abraçada por todos.
            </p>
        </div>

        <div class="comum">
            <h3>Como tudo começou...</h3>
            <p>
                Mauris mattis, metus non fermentum porttitor, lorem odio tincidunt arcu, et aliquet dolor purus eget velit. In ultricies risus a ligula sodales, sed egestas massa pharetra. Donec maximus ipsum nisl, et varius nibh posuere in. Nullam imperdiet finibus aliquet. Etiam tempor ac tortor vel commodo. Nunc congue condimentum purus, sit amet tempor nisl maximus venenatis. Cras vitae urna imperdiet, venenatis odio quis, semper leo. 
            </p>
            <p>    
                Quisque vehicula, augue id sodales elementum, libero arcu vulputate dui, vitae maximus sem turpis bibendum nisl. Maecenas urna dolor, gravida a sem sed, ultricies scelerisque nulla. Quisque dictum ex sed ipsum dapibus varius. Quisque ut maximus lacus, sed aliquet odio.
            </p>
        </div>

        <div class ="comum">

            <h3>Nossas receitas</h3>
            <p>Etiam in tortor egestas, eleifend mauris id, vulputate sapien. Fusce eget diam iaculis tortor pretium pellentesque a eget diam. Integer molestie rhoncus arcu, sit amet sollicitudin augue imperdiet non. Proin vel felis eros. Morbi sit amet arcu a nisl iaculis tempor in a ipsum. Vestibulum non tortor in magna ultrices vulputate vel at nibh. Vestibulum tempor vitae libero ac ultrices.
            </p>

        </div>

    </main>
    
{% endblock content %}