

.container { 
    text-align: center;
    background: white;
    padding-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.receita-principal img {
    width: 600px;
    height: 260px;
    border-radius: 8px;
}

.header-principal h2  {
    font-size: 30px;
    line-height: 42px;
    margin-top: 10px; 
    font-weight: 500;
    color: #3E5A6B;
}

.header-principal p  {
    font-size: 14px;
    color: #254A63;
}

main {
    text-align: left;
}

.receita-info {
    margin-top: 60px;
    max-width: 920px;
    margin-left: 40px;
    
}

.receita-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    height: 45px;
}

.receita-header h2 {
    font-size: 24px;
    margin-right: 10px;
    font-weight: 500;
}

.show-and-hide {
    padding: 3px;
    font-size: 10px;
    background:#1198F2;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.show-and-hide:hover {
    background-color: #0E7AC2;
}

.receita-information {
    max-width: 800px;
    display: inline-block;
    margin-bottom: 20px;
    list-style-type: none;
}


.footer {
    background-color: whitesmoke; 
    height: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


/* == SCRIPT DE OCUTAR */

.visible {
    visibility: visible;
    
}

.hidden {
    visibility: hidden;
    display: none;
}