* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: #faead6;
}


#pageHome { 
    width: 960px;
    margin: auto;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

header #logo {
    margin: 40px auto;
    width: 120px;
}

header #logo img {
    width: 120px;
}

header #menu {
margin: 40px auto;
   width: 240px;
}

#menu span {
    font-weight: bold;
    font-size: 28px;
}


header #menu a{
    text-decoration: none;
    font-size: 24px;
    line-height: 19px;
    margin: 10px;
    color: black;
}

header #menu a:hover {
    font-weight: bold;
    font-size: 28px;
}


.container { 
    text-align: center;
    background: white;
    padding-top: 40px;
    border-radius: 10px;
}

.receita-principal img {
    width: 940px;
    height: 280px;
    border-radius: 20px;
}

.header-principal h2  {
    font-size: 36px;
    line-height: 42px;
    padding: 10px;
    margin-top: 10px; 
}

.header-principal {
    font-size: 20px;
}

main {
    text-align: left;
}

.receita-info {
    margin-top: 60px;
    max-width: 920px;
    margin-left: 40px;
}

.receita-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    height: 45px;
}

.receita-header h2 {
    font-size: 26px;
    margin-right: 10px;
}

.show-and-hide {
    padding: 3px;
    font-size: 10px;
    background:lightsalmon;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.show-and-hide:hover {
    background-color: salmon;
}

.receita-information {
    max-width: 800px;
    display: inline-block;
    margin-bottom: 20px;
}

.footer {
    background-color: whitesmoke; 
    height: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


/* == SCRIPT DE OCUTAR */

.visible {
    visibility: visible;
    
}

.hidden {
    visibility: hidden;
    display: none;
}