
* {
    margin: 0;
    padding: 0;
}

html, body{ 
    height:100%; 
    margin:0; 
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: aliceblue;
    display: flex;
    flex-direction: column;
}


/* === MENU TOPO === */



#pageHome { 
    width: 960px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 140px 1fr 1fr;
    align-items: center;
    margin: 40px auto;
}

header #logo {
    width: 120px;
    margin-left: 10px;
}

header #logo img {
    margin-left: 10px;
}

header #menu {
    margin: auto 60px;
  
}

#menu span {
    font-weight: bold;
    font-size: 28px;
}


header #menu a{
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    margin: 10px;
    color: black;
}

header #menu a:hover {
    color: #1198F2;  
}

#search-bar {
    text-align: center;
}

#search-bar button {
    border: none;
    padding: 4px;
    background-color: #1198F2;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    
}

#search-bar input{
    margin: 8px 0 6px 0;
    height: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
    font: #DDDDDD;
    outline: none;
}

#pagina-sobre #sobre {
    color: black;
    font-weight: bold;
   
}

#pagina-receitas #receitas {
    color: black;
    font-weight: bold;
}

#pagina-chefs #chefs{
    color: black;
    font-weight: bold;
}

/* === CONTEINER 1 (COM IMAGEM DO CHEF) === */


main .content1 {
    display: flex;
    background-color: white;
    border-radius: 30px;
    height: 380px;
    margin: auto;
    
}

.imageContent1 {
    width: 50%;
}
.content1 img {
    margin-top: 7%;
    margin-right: 90px;
    width: 220px;
    height: 300px;

}

.textContent1 {
    margin: auto 10%;
    margin-right: 10%;
    text-align: left;
    width: 50%;
    
}

.textContent1 h1 {
    font-size: 38px;
    line-height: 38px; 
    font-weight: 500; 
}

.textContent1 p {
    margin-top: 10px;
    font-size: 18px;
}

/* === CONTEINER 2 (ALIMENTOS) === */

main h3 {
    font-size: 24px;
    margin-top: 60px;
    margin-left: 5px;
    font-weight: 500;
}

main .content2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    padding: 5px;
    margin-bottom: 40px;
}

.receita img {
    border-radius: 10px;
    width: 300px;
    height: 160px;
}

.receita h2 {
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
}

.receita p {
    font-size: 14px;
    text-align: right;
    margin-top: 5px;
    margin-right: 8px;
}

.footer {
    background-color: white;
    padding: 10px;
    margin-top: auto;
    font-size: 14px;
    text-align: center;
}

/* === PAGINA SOBRE === */


.comum {
    background-color: white; 
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.comum h1 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
}

.comum p {
    font-size: 16px;
    padding-bottom: 20px;
}

.comum h3 {
    padding-top: 20px;
    margin: 0 0 20px 0;
    font-size: 22px;
    
}

/* === FORMATAÇÃO DO RECEITAS === */

main .content3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    padding: 5px;
    margin-bottom: 40px;
}

.receitas { 
    width: 300px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
}

.receitas:hover {
   
    cursor: pointer;
    border: 1px solid #1198F2;
    color: black;
    
}

.receitas img {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    width: 100%;
    max-height: 160px;
    border-bottom-right-radius: 0;
}

.receitas h2 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 2px;
    color: #3E5A6B;
}

.receitas p {
    font-size: 12px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #254A63;
    font-weight: bold;
}

/* PAGINA CHEFS */

main h4 {
    font-size: 22px;
    margin-top: 60px;
    font-weight: 500;
}

.chef-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
}

.chef { 
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.chef div {
    align-self: center;
}

.chef div h2 {
    font-size: 16px;
    font-weight: 500;
}

.chef div p {
    font-size: 14px;
    color: #254A63;
    font-weight: bold;
    
}

.chef img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

/* === ERRO 404 === */

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
}


