<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Receitas - Visualizar receitas</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/admin.css">

</head>
<body>  

    <div id="">

       <header>
            <div id="logo">
            <a href="/"><img src="/logo-admin.png" alt="Foodly"></a>   
            </div>

            <div id=links>
                <a href="/admin/receitas">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </div>
        </header>

        <main id="gerenciador">
            <h3>Gerenciar Receitas </h3>
            
            <div class="content3">

                <div class="card">
                    {% for recipe in recipes %}
                        <div class="card-items">  
                            <div name= "{{recipe.title}}">
                                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                            </div>
                            <div>
                                <h2>{{recipe.title}}</h2>
                                <p>por {{recipe.chef_name}}</p>
                                <a href="/admin/receitas/{{recipe.id}}">Visualizar</a>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                
              
                
            </div>
            

        </main>
        
        
      

    </div>

     <footer class="footer">
        <p>Receitas Foodly - Todos os direitos reservados &copy</p>
    </footer>
    
    <script src="/scripts/script.js"></script>

</body>
</html>